@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');
* {margin:0;padding:0;box-sizing:border-box;}



body {
	background-color:#000000;
	font-family: 'Cormorant Garamond', serif;
	line-height: 1.5;
	font-size: 16px;
}

header {
	background-color: #edebeb;
	padding: 9px;
}

header img {
	height: 55px;
}

section { 
	text-align: center; }

 nav a{
 	font-family: Futura, sans-serif;
	list-style: none;
	font-size: 20px;
	padding: 10px;
	float: right;
	background-color: #E8C66A;
	border: 1px black solid;
	}

a {
	text-decoration: none;
  	color: #545050;

}

/* mouse over link */
a:hover {
	color: #ed1849;

}

.bgimage {
	background: url("../images/kaleispring.jpg");
	background-size: cover;
	padding-top: 20em;
	padding-bottom: 15em;
}

#background {
	background-size: cover;
	background-attachment: fixed;
}

h1,h2,h3{
	text-align: center;
	}

h1{
	font-family: futura, serif;
	font-size: 75px;
	color: #FFFFFF;
	padding: 10px;
	 }

h2 {
	font-size:35px;
	color: #545050;
	padding: 10px;
}

h3 {
	font-size: 35px;

}

#two_column {
    background-color: #FFF;
}

#left {
    background-color: #e52557;
    padding: 200px;
    float: left;
    width: 40%;
}

#right {
    background-color: #FFF;
    padding: 150px;
    float: right;   
    width: 60%;
    text-align: left;
}



#work {
	background-color: #edebeb;
	padding: 30px;
}

.masonarywrapper {
	width: 95%;
	padding: 30px;
	margin: 0 auto;
}

.masonry { /* Masonry container */
    column-count: 6;
    -moz-column-count: 6;
    -webkit-column-count: 6;
    margin: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.masonry .item:hover img {
 opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

}


.item {
	display: inline-block;
	width: 100%;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer {
	clear: both;
	background-color: #000000;
	text-align: center;
	font-family: Futura, sans-serif;
	color: #fff;
	padding: 20px;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



#wrapper {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}



