@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');
* {margin:0;padding:0;box-sizing:border-box;}



body {
	background-color:#000000;
	font-family: 'Cormorant Garamond', serif;
	line-height: 1.5;
}

header {
	background-color: #edebeb;
	padding: 10px;
}

header img {
	height: 60px;
}

section { 
	text-align: center; }

 nav a{
 	font-family: Futura, sans-serif;
	list-style: none;
	font-size: 20px;
	padding: 10px;
	float: right;
	background-color: #E8C66A;
	border: 1px black solid;
	}

a {
	text-decoration: none;
  	color: #545050;

}

/* mouse over link */
a:hover {
	color: #ed1849;

}

.page-wrap {
	background: url("../images/kaleispring.jpg");
	background-size: cover;
	padding-top: 30em;
	padding-bottom: 25em;
}

#background {
	background-size: cover;
	background-attachment: fixed;
}

h1,h2,h3{
	text-align: center;
	}
h1{
	font-family: futura, serif;
	font-size: 85px;
	color: #FFFFFF;
	padding: 10px;
	 }

h2 {
	font-size:35px;
	color: #545050;
	padding: 10px;
}

h3 {
	font-size: 35px;

}

#two_column {
    background-color: #FFF;
}

#left {
    background-color: #e52557;
    padding: 200px;
    float: left;
    width: 50%;
}

#right {
    background-color: #FFF;
    padding: 150px;
    float: right;   
    width: 50%;
    text-align: left;
}


#work {

	background-color: #edebeb;
}




footer{
	background-color: #000000;
	text-align: center;
	font-family: Futura, sans-serif;
	color: #fff;
	padding: 20px;
	

}


#wrapper {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
