@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');
* {margin:0;padding:0;box-sizing:border-box;}



body {
	background-color:#000000;
	font-family: 'Cormorant Garamond', serif;
	line-height: 1.5;
}

header {
	background-color: #edebeb;
	padding-top: .2%;
	padding-bottom: .2%;
}
.page-wrap {
	background: url("../images/kaleispring.jpg");
	background-size: cover;
	padding-top: 30em;
	padding-bottom: 25em;
}

#background {
	background-size: cover;
	background-attachment: fixed;
}

#aboutme {
	background-color: #edebeb;
	background-size: cover;
	padding:5% 4em 6%;
}
h1,h2{
	color: #545050; 
	text-align: center;
}
h1{
	font-family: futura, serif;
	font-size: 100px;
	font-weight:bold;
	color: #FFFFFF; }

h2 {
	font-size:35px;
}

}		
ul{
	font-family: Futura, sans-serif;
	color: #545050;
	list-style: none;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
}

a{
  	text-decoration: none;
  	color: #ffffff;
}


/* mouse over link */
a:hover {
	color: #ed1849;
}


