@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-color:#000000;
	font-family: 'Cormorant Garamond', serif;
	line-height: 1.5;
}
header {
	background-color: #edebeb;
	text-align: center;
	padding-top: .2%;
	padding-bottom: .2%;
}
.page-wrap {
	background: url("../images/kaleispring.jpg");
	background-size: cover;
	padding-top: 30em;
	padding-bottom: 10em;
}
#background {
	background-size: cover;
	background-attachment: fixed;
}
hr {
	width: 200px;
	color:#ffffff;
	align-content: center;	
}
#aboutme {
	background-color: #edebeb;
	background-size: cover;
	padding:5% 4em 6%;
}
h1,h2, h3{
	color: #545050; 
	text-align: center;
}
h1{
	font-family: futura, serif;
	font-size: 100px;
	font-weight:bold;
	color: #FFFFFF; }

h2 {
	font-size:35px;
}
h3{	
	font-style: italic;
	font-size:30px;
}		
ul{
	font-family: Futura, sans-serif;
	color: #545050;
	list-style: none;
	text-align: center;
	color: #ffffff;
	font-size: 40px;
	text-decoration: none;
}	
a{
  	text-decoration: none;
  	color: #ffffff;
}
/* mouse over link */
a:hover {
	color: #ed1849;
}

p{ 
	text-align: left;
	margin: 60px;	`
}
