@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');
* {margin:0;padding:0;box-sizing:border-box;}



body {
	background-color:#000000;
	font-family: 'Cormorant Garamond', serif;
	line-height: 1.5;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

header img {
	height: 60px;
}

 nav a{
 	font-family: Futura, sans-serif;
	list-style: none;
	font-size: 20px;
	padding: 20px;
	padding-top: 30px;
	padding-left:20px;
	float: right;
	background-color: #E8C66A;
	border: 1px black solid;
	}

a {
	text-decoration: none;
  	color: #545050;

}

/* mouse over link */
a:hover {
	color: #ed1849;

}

.page-wrap {
	background: url("../images/kaleispring.jpg");
	background-size: cover;
	padding-top: 30em;
	padding-bottom: 25em;
}

#background {
	background-size: cover;
	background-attachment: fixed;
}

h1,h2,h3{
	text-align: center;
	}
h1{
	font-family: futura, serif;
	font-size: 85px;
	color: #FFFFFF;
	padding: 10px;
	 }

h2 {
	font-size:35px;
	color: #545050;
	padding: 10px;
}

h3 {
	font-size: 35px;

}




footer{
	background-color: #FF957E;
	text-align: center;
	font-family: Futura, sans-serif;
	color: #fff;
	padding: 20px;
	border: 1px black solid;

}


#wrapper {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}